
.icon-users:before { content: '\e800'; } /* '' */
.icon-videocam-outline:before { content: '\e801'; } /* '' */
.icon-videocam:before { content: '\e802'; } /* '' */
.icon-ok-outline:before { content: '\e803'; } /* '' */
.icon-ok:before { content: '\e804'; } /* '' */
.icon-cancel-outline:before { content: '\e805'; } /* '' */
.icon-cancel:before { content: '\e806'; } /* '' */
.icon-heart-1:before { content: '\e807'; } /* '' */
.icon-heart-filled:before { content: '\e808'; } /* '' */
.icon-star:before { content: '\e809'; } /* '' */
.icon-star-filled:before { content: '\e80a'; } /* '' */
.icon-attention:before { content: '\e80b'; } /* '' */
.icon-attention-filled:before { content: '\e80c'; } /* '' */
.icon-warning-empty:before { content: '\e80d'; } /* '' */
.icon-warning:before { content: '\e80e'; } /* '' */
.icon-clock:before { content: '\e80f'; } /* '' */
.icon-certificate-outline:before { content: '\e810'; } /* '' */
.icon-certificate:before { content: '\e811'; } /* '' */
.icon-lock:before { content: '\e812'; } /* '' */
.icon-lock-filled:before { content: '\e813'; } /* '' */
.icon-lock-open:before { content: '\e814'; } /* '' */
.icon-lock-open-filled:before { content: '\e815'; } /* '' */
.icon-attach-outline:before { content: '\e816'; } /* '' */
.icon-link:before { content: '\e817'; } /* '' */
.icon-link-outline:before { content: '\e818'; } /* '' */
.icon-attach:before { content: '\e819'; } /* '' */
.icon-cog-outline:before { content: '\e81a'; } /* '' */
.icon-cog:before { content: '\e81b'; } /* '' */
.icon-wrench-outline:before { content: '\e81c'; } /* '' */
.icon-wrench:before { content: '\e81d'; } /* '' */
.icon-calendar-outlilne:before { content: '\e81e'; } /* '' */
.icon-calendar:before { content: '\e81f'; } /* '' */
.icon-block-outline:before { content: '\e820'; } /* '' */
.icon-block:before { content: '\e821'; } /* '' */
.icon-chart-pie:before { content: '\e822'; } /* '' */
.icon-chart-pie-outline:before { content: '\e823'; } /* '' */
.icon-chart-bar:before { content: '\e824'; } /* '' */
.icon-chart-bar-outline:before { content: '\e825'; } /* '' */
.icon-chart-alt:before { content: '\e826'; } /* '' */
.icon-chart-alt-outline:before { content: '\e827'; } /* '' */
.icon-chart:before { content: '\e828'; } /* '' */
.icon-chart-outline:before { content: '\e829'; } /* '' */
.icon-gift:before { content: '\e82a'; } /* '' */
.icon-lightbulb:before { content: '\e82b'; } /* '' */
.icon-chat:before { content: '\e82c'; } /* '' */
.icon-chat-alt:before { content: '\e82d'; } /* '' */
.icon-comment:before { content: '\e82e'; } /* '' */
.icon-info:before { content: '\e82f'; } /* '' */
.icon-info-outline:before { content: '\e830'; } /* '' */
.icon-plus-outline:before { content: '\e831'; } /* '' */
.icon-plus:before { content: '\e832'; } /* '' */
.icon-minus-outline:before { content: '\e833'; } /* '' */
.icon-minus:before { content: '\e834'; } /* '' */
.icon-down-small:before { content: '\e835'; } /* '' */
.icon-left-small:before { content: '\e836'; } /* '' */
.icon-right-small:before { content: '\e837'; } /* '' */
.icon-up-small:before { content: '\e838'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-down-open:before { content: '\f004'; } /* '' */